<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media:"all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "d3.parcoords", media:"all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "examples", media:"all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "Excercise_analysis", media:"all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "Home", media:"all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "slick-default-theme", media:"all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "slick.grid", media:"all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "slick.pager", media:"all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_pack_tag 'index' %> 
    <%= javascript_pack_tag 'index' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
